{% load humanize %}
{% load static %}
{% load news_extra %}

<div class='item-card'>
  <div class='item-content' id="{{item.pk}}">
    <div class='item-rank-and-button'>
      <div class='item-rank'>{%if rank %}{{rank}}.{% endif %}</div>
      <div class='item-button'>

        {% user_arrows user=user item=item as assignment_options %}

        {% if 'star' in assignment_options %}
        <span class="self-item">*</span>
        {% endif %}
        {% if 'up' in assignment_options %}
        <form class="vote-form upvote" method="POST" action="{% url 'upvote' pk=item.pk %}">{% csrf_token %} <button type="submit" class="vote-button" aria-label="Upvote">
            <div class="arrow-up"></div>
          </button></form>
        {% endif %}
      </div>

      <div class=karma>
        <i class="fas fa-star-half-alt" style="margin-right: 5px;"></i>
        {{item.points}}
      </div>

      <div class='item-button'>
        {% if 'down' in assignment_options %}
        <form class="vote-form downvote" method="POST" action="{% url 'downvote' pk=item.pk %}">{% csrf_token %}<button type="submit" class="vote-button" aria-label="Downvote">
            <div class="arrow-down"></div>
          </button></form>
        {% endif %}
        {% if not assignment_options %}
        &nbsp;
        {% endif %}

      </div>
    </div>
    <!-- ROW 1--> {% if item.is_comment %}{% item_content item=item request_user=request_user %} {% else%} {% item_content hide_text=hide_text item=item %} {% endif %}
  </div>

  <div class='item-control'>
    <!-- ROW 2--> {% if item.is_comment %}{% item_control item=item hide_text=hide_text %} {% else %}{% item_control item=item request_user=request_user %}{% endif %}
  </div>
</div>
