{% load news_extra %}

<span class="controls">
  <div id='user-control'>
    <img class='gravatar-img' src={{item.user.gravatar_url}} width="25" height="25">
    {%link_user item.user%}
  </div>

  <div class=karma>
    <i class="fas fa-star-half-alt"></i>
    {{item.points}}
  </div>

  <div>
    <a href="{{item.get_absolute_url}}">
      <i class="fas fa-comment"></i>
      {{item.num_comments}}
    </a>
  </div>

  {% if item.num_comments == 0 and item.user == request_user %}
  <div>
    <a href="{% url 'edit' pk=item.pk %}">
      <i class="fas fa-edit"></i>
      edit
    </a>
  </div>
  {% endif %}

  {% if item.user == request_user %}
  <div>
    <a href="{% url 'delete' pk=item.pk %}">
      <i class="fas fa-trash-alt"></i>
      delete
    </a>
  </div>
  {% endif %}
</span>
