
{% extends 'news/__base.html' %}
{% load humanize %}
{% load mptt_tags %}
{% load news_extra %}





{% block content %}
<article class="site-content-dense">

<div class="item-list">
        {% news_item item=item rank=None hide_text=False user=user %}
</div>

{% if comment_form %}
<form method="POST" class="comment-form clearfix">{% csrf_token %}
    {{ comment_form.text }}
    <p class="clearfix small"></p>
    <button type="submit">add comment</button>
    <ul class="horizontal-list">
        <li><a class="smaller" href="{% url 'zen' %}">guidelines</a></li>
        <li><a class="smaller" href="javascript:toggleFormattingHelp()">formatting help</a></li>
    </ul>
</form>

{% include "news/formatting_help.html" %}

{% endif %}


<br><br>


<div class="item-list">
    {% recursetree item.comments.all  %}
            {% news_item item=node rank=None show_text=True hide_text=False user=user %}
            {% if not node.is_leaf_node %}
            <div style="padding-left:15px;">
                    <div class="item-list">
                        {{ children }}
                    </div>
                  </div>
            {% endif %}
    {% endrecursetree %}
</div>

</article>
{% endblock content %}
