{% extends 'news/__base.html' %}

{% block content %}
<article class="site-content-dense">
<form method="POST">{% csrf_token %}
{{ form.as_p }}
<button type="submit">submit</button>
</form>

<p>
<b>Posting tips:</b>
<br><b>Title:</b> Please use the following format -> [Podcast Name] - [Episode Name]
<br><b>URL:</b> Only submit direct links to podcast episodes.
<br><b>Text:</b> Describe what your episode is about, an excellent description drives engagement.
</p>


</article>
{% endblock content %}
