# this AWS documentation was used to get running on elastic beanstalk with Django: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-django.html
option_settings:
  #had to create a main.py at the root and set application = app to get this to work.
  #it doesn't work following the AWS docs, likely because this project repo is super old.
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  #this tells elastic beanstalk where to look for static files (in our case CSS and logo images)
  # see this SO post for more info: https://stackoverflow.com/questions/14043073/amazon-elastic-beanstalk-not-serving-django-static-files
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  #tells elastic beanstalk where to look for the django settings (such as whether to use psql or sqlite for example)
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hnclone.settings

# here we can run commands when the ec2 instance starts up.
container_commands:
  # allow the scripts in .platform/hooks/ to be executable.
  # see this SO post for more info: https://stackoverflow.com/questions/62442212/aws-elastic-beanstalk-container-commands-failing
  01_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
  # ensure that postgres is installed on the ec2 host in order to pip install the postgres driver.
  03_install_postgres:
    command: "source /var/app/venv/*/bin/activate && yes | sudo yum install postgresql-devel"
    leader_only: true