/* General formatting */
body {
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=\"submit\"] {
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

table {
  width: 100%;
}

.smaller {
  font-size: 10pt;
}

.site-icon {
  width: 35px;
  height: 35px;
}

.item-content {
  display: flex;
  padding-bottom: 10px;
}

.more-link,
.item-card {
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  margin-bottom: 15px;
}

.more-link:hover,
.item-card:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border-color: #111;
}

.more-link {
  background-color: #8BC34A;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.more-link:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #689F38;
  color: #fff;
}

input:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.clearfix {
  overflow: hidden;
  clear: both
}

p.small {
  margin: 5px 0;
}

ul.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal-list li {
  display: inline-block;
}

.login-button,
.register-button,
button {
  cursor: pointer;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #8BC34A;
  color: #FFF;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.login-button:hover,
.register-button:hover,
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #689F38;
  border: 1px solid #111;
}

.login-button,
.register-button {
  margin-left: 5px;
  margin-right: 5px;
}

a {
  color: inherit;
}

a:hover {
  color: #8BC34A;
}

.green {
  color: green;
}

nav#top-bar * {
  color: #fff;
  text-decoration: none;
}

nav#top-bar *.active {
  color: #bbb;
  font-weight: bold;
}

nav#top-bar,
nav#footer-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 25px;
  color: #fff;
  background-color: #333;
  align-items: center;
  display: flex;
}

nav#footer-bar {
  text-align: center;
  display: block;
}

main {
  background-color: #FFFFFF;
}

.main-menu {
  margin: auto;
  margin-left: 10px;
}

.user-menu {
  display: flex;
  margin-right: 0px;
  align-items: center;
}

.user-menu button {
  margin-left: 5px;
  margin-right: 5px;
}

.site-content-dense {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.highlight {
  background-color: #DCEDC8;
}

.self-item {
  color: #689F38;
  padding: 5px;
}

.item-rank,
.title>a {
  font-weight: bold;
  text-decoration: none;
}

.title>a:visited {
  color: #999;
}

.description {
  padding-left: 10px;
}

.pnname {
  padding-right: 25px;
}

.pnname>a {
  text-decoration: none;
}

#pnmain {
  width: 85%;
  margin: auto;
  padding: 20px;
  background: transparent;
}

nav#pre-footer-bar>hr {
  border-color: transparent;
}

/* Forms */
form.logout-form {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
}

.add-new-button,
.logout-button {
  width: auto;
  border-radius: 5px;
}

form.comment-form {
  padding: 20px;
}

form.comment-form textarea {
  width: 98%;
  resize: vertical;
}

form.comment-form button {
  float: left;
  margin-right: 10px;
}

form.comment-form ul {
  float: left;
}

.vote-form {
  border: 0;
  margin: 0;
  padding: 0;
}

.vote-button {
  background: transparent;
  display: block;
  border: none;
  padding: 5px;
  padding-left: 0px;
}

.vote-button:hover {
  background: transparent;
}

div.arrow-up:hover,
div.arrow-down:hover {
  border-color: #689F38;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

div.arrow-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

div.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.controls {
  line-height: 6pt;
  vertical-align: text-top;
}

.formatting-help {
  border: 2px solid #ddd;
  padding: 0.25em;
  margin: 0 20px;
  box-sizing: border-box;
}

.formatting-help.closed {
  display: none;
}

.formatting-help h3 {
  display: block;
  margin: 0;
  padding: 0.5em 0 0.25em 0;
  font-size: 13px;
  font-weight: 600;
}

.formatting-help h3:first-child {
  padding-top: 0;
}

/******************************* mobile device *******************************/
@media only screen and (min-width : 300px) and (max-width : 750px) {

  #pnmain {
    width: 100%;
    margin: 0;
    width: auto;
  }

  body {
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-text-size-adjust: none;
  }

  .title, .comment {
    font-size: inherit;
  }

  span.pagetop,
  .user-menu {
    display: block;
    margin: 3px 5px;
    font-size: 12px;
  }

  .user-menu {
    text-align: center;
  }

  .login-button,
  .register-button,
  .user-menu button {
    margin: 2px;
    font-size: 12px;
    padding: 2px 10px;
    width: 100%;
  }

  span.pagetop b {
    display: block;
    font-size: 15px;
  }

  .site-content-dense {
    width: auto;
  }

  .vote-form {
    padding: 0.2em;
    transform: scale(1.8);
  }

  form.comment-form textarea {
    width: 100%;
  }

  .vote-button {
    padding-top: 8px;
  }
}
