/* General formatting */
h1, h2, h3, h4, p, a, * {
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-text-size-adjust: none;
}

td, th {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=\"submit\"] {
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  color: #000;
}

table {
  width: 100%;
}

.smaller {
  font-size: 10pt;
}

.site-icon {
  width: 35px;
  height: 35px;
}

.item-content {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #555;
}

.item-control * {
  text-decoration: none;
}

.item-control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.more-link,
.item-card {
  display: block;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #222;
  border-radius: 2px;
  border: 1px solid #555;
}

.welcome-image {
  background-image: url('welcome_image.jpg');

  background-size: cover;
  background-position: bottom, bottom;
  width: auto;
  height: 100%;
  display:flex;
}

#welcome-text {
  margin: 20px;
  margin-left: 8vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

#welcome-visual {
  background: url('visual.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 90vw;
  margin: 20px;
  margin-right: 8vw;
  border-radius: 5px;
}

.more-link:hover,
.item-card:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #111;
  border: 1px solid #aaa;
}

.more-link {
  padding: 10px;
  color: #8BC34A;
  border: 1px solid #8BC34A;
  text-decoration: none;
  text-align: center;
}

.item-card:hover {
  background-color: #222;
}

.more-link:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #8BC34A;
  color: #fff;
}

.description-more {
  font-size: 12px;
  padding-left: 10px;
}

.description {
  color: rgba(55, 53, 47, 0.6);
  font-size: 12px;
  padding-left: 10px;
}

input:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.clearfix {
  overflow: hidden;
  clear: both
}

p.small {
  margin: 5px 0;
}

ul.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.horizontal-list li {
  display: inline-block;
}

#create-account-button {
  text-decoration: none;
  background-color: #8BC34A;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
}

#create-account-button:hover {
  color: #fff;
}

.login-button,
.register-button,
button {
  cursor: pointer;
  width: 100%;
  border: 1px solid #8BC34A;
  color: #8BC34A;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.login-button:hover,
.register-button:hover,
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #8BC34A;
  color: #fff;
  border: 1px solid #111;
}

.login-button,
.register-button {
  margin-left: 5px;
  margin-right: 5px;
}

a {
  color: inherit;
}

a:hover {
  color: #8BC34A;
}

.green {
  color: #8BC34A;
}

#header {
  background-color: #333;
  border-bottom: 1px solid #555;
}

#footer {
  background-color: #333;
  border-top: 1px solid #555;
}

nav#top-bar * {
  text-decoration: none;
}

nav#top-bar *.active {
  color: #bbb;
  font-weight: bold;
}

nav#top-bar,
nav#footer-bar {
  padding: 10px;
  color: #fff;
  align-items: center;
  display: flex;
  width: 85%;
  margin: auto;
}

nav#footer-bar {
  text-align: center;
  display: block;
}

main {
  background-color: #FFFFFF;
}

.main-menu {
  margin: auto;
  margin-left: 10px;
}

.user-menu {
  display: flex;
  margin-right: 0px;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-menu button {
  margin-left: 5px;
  margin-right: 5px;
}

.site-content-index,
.site-content-dense {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.site-content-dense {
  padding: 20px;
}

.gravatar-img {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
}

.highlight {
  background-color: #123823;
}

.self-item {
  color: #689F38;
  padding: 5px;
}

.item-rank,
.title>a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.title>a:hover {
  color: #8BC34A;
}

.title>a:visited {
  color: #999;
}

.pnname {
  padding-right: 25px;
}

.pnname>a {
  text-decoration: none;
}

#pnmain {
  width: 85%;
  margin: auto;
  padding: 20px;
  background: transparent;
}

nav#pre-footer-bar>hr {
  border-color: transparent;
}

/* Forms */
form.logout-form {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
}

.add-new-button,
.logout-button {
  width: auto;
  border-radius: 5px;
}

form.comment-form {
  padding: 20px;
}

form.comment-form textarea {
  width: 98%;
  resize: vertical;
}

form.comment-form button {
  float: left;
  margin-right: 10px;
}

form.comment-form ul {
  float: left;
}

.vote-form {
  border: 0;
  margin: 0;
  padding: 0;
}

.vote-button {
  background: transparent;
  display: block;
  border: none;
  padding: 5px;
  padding-left: 0px;
}

.vote-button:hover {
  background: transparent;
  border: none;
}

div.arrow-up:hover,
div.arrow-down:hover {
  border-color: #689F38;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

div.arrow-up {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-color: #fff;
}

div.arrow-down {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  margin: 0 !important;
  padding: 5px;
  background-color: #222;
  border-radius: 2px;
  border: 1px solid #555;
}

.dropbtn {
  padding: 10px;
}

.mobile-menu:hover .dropdown { display: inline-table; }

.mobile-menu {
  cursor: pointer;
  display: none;
}

.controls div {
  margin: 10px;
}

.controls {
  display: contents;
  line-height: 6pt;
  vertical-align: text-top;
  font-size: 12px;
}

#user-control {
  display: contents;
  margin: 0;
}

.formatting-help {
  border: 2px solid #ddd;
  padding: 0.25em;
  margin: 0 20px;
  box-sizing: border-box;
}

.formatting-help.closed {
  display: none;
}

.formatting-help h3 {
  display: block;
  margin: 0;
  padding: 0.5em 0 0.25em 0;
  font-size: 13px;
  font-weight: 600;
}

.formatting-help h3:first-child {
  padding-top: 0;
}

/******************************* mobile device *******************************/
@media only screen and (min-width : 300px) and (max-width : 750px) {

  #pnmain {
    width: 100%;
    margin: 0;
    width: auto;
    padding: 0;
  }

  .title, .comment {
    font-size: inherit;
  }

  span.pagetop,
  .user-menu {
    display: block;
    margin: 3px 5px;
    font-size: 12px;
  }

  .user-menu {
    text-align: center;
  }

  .login-button,
  .register-button,
  .user-menu button {
    margin: 2px;
    font-size: 12px;
    padding: 2px 10px;
    width: 100%;
  }

  span.pagetop b {
    display: block;
    font-size: 15px;
  }

  .site-content-dense {
    width: auto;
    padding: 0;
  }

  .vote-form {
    padding: 0.2em;
    transform: scale(1.8);
  }

  form.comment-form textarea {
    width: 100%;
  }

  .vote-button {
    padding-top: 8px;
  }

  .welcome-image {
    display:block;
  }

  #welcome-text,
  #welcome-visual {
    margin: 5vw;
  }
}
