
/* General formatting */

body        { font-family: Arial, Helvetica, sans-serif; }
td, th      { font-family: Arial, Helvetica, sans-serif; }
.smaller    { font-size:10pt; }

input[type=\"submit\"] { font-family: Arial, Helvetica, sans-serif; }
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 98%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

table {
  width: 100%;
}

.site-icon {
  width: 35px;
  height: 35px;
}

.item-content {
  display: flex;
  padding-bottom: 10px;
}

.item-card {
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  background: #fff;
  margin-bottom: 25px;
}

.item-card:hover
{
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0,0,0,.1);
}

input:hover,
textarea:hover  {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.clearfix { overflow: hidden; clear: both }

p.small { margin: 5px 0; }

ul.horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.horizontal-list li {
    display: inline-block;
}

button {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #8BC34A;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

button:hover {
  background: #689F38;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

a { color: inherit; }
.green { color:green; }

nav#top-bar * { color:#fff; }

nav#top-bar *.active {
    color: #bbb;
    font-weight: bold;
}

nav#top-bar,
nav#footer-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  color: #fff;
  background-color: #333;
}

nav#footer-bar {
  text-align: center;
}

main { background-color: #FFFFFF; }

.site-content { margin: 3%; }
.site-content-dense  {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
td {padding-right:8px; vertical-align: text-top;}
#top-bar td {vertical-align: middle;}
tr.spacer {height:1em;}

.highlight {background-color:##DCEDC8;}
.self-item {color: #4B8BBE;}

.title > a {
    text-decoration: none;
}

.title > a:visited {
    color: #999;
}

/* Site layout */
.pnname {
  padding-right: 25px;
}

.pnname > a {
  text-decoration: none;
}

#pnmain {
    width: 85%;
    margin: auto;
    padding: 20px;
    background: transparent;
}

/* footer line color */
nav#pre-footer-bar > hr {
  border-color: transparent;
}

/* Forms */

form.logout-form {
    border: 0;
    margin:0;
    padding:0;
    display:inline;
}

.logout-button {
  width: auto;
  border-radius: 5px;
}

form.comment-form {
    padding: 20px;
}

form.comment-form textarea {
    width: 98%;
    resize: vertical;
}

form.comment-form button {
    float: left;
    margin-right: 10px;
}

form.comment-form ul {
    float: left;
}

.vote-form {
    border: 0;
    margin: 0;
    padding: 0;
}

.vote-button {
    background: transparent;
    display: block;
    padding: 5px;
    padding-top: 4px;
    border: 0;
}

/* http://apps.eky.hk/css-triangle-generator/ */
div.arrow-up {
    position:relative;
    top:-2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.3em 0.7em 0.3em;
    border-color: transparent transparent #828282 transparent;
}

div.arrow-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.7em 0.3em 0 0.3em;
    border-color: #828282 transparent transparent transparent;
}


.controls { line-height:6pt; vertical-align: text-top;  }

.formatting-help {
    border: 2px solid #ddd;
    padding: 0.25em;
    margin: 0 20px;
    box-sizing: border-box;
}

.formatting-help.closed {
    display: none;
}

.formatting-help h3 {
    display: block;
    margin: 0;
    padding: 0.5em 0 0.25em 0;
    font-size: 13px;
    font-weight: 600;
}

.formatting-help h3:first-child {
    padding-top: 0;
}


/* mobile device */
@media only screen
and (min-width : 300px)
and (max-width : 750px) {
  #pnmain { width: 100%; margin:0; }
  body { padding: 0; margin: 0; width: 100%; -webkit-text-size-adjust: none; }
  td { height: inherit !important; }
  .title, .comment { font-size: inherit;  }
  span.pagetop { display: block; margin: 3px 5px; font-size: 12px; }
  span.pagetop b { display: block; font-size: 15px; }

    .vote-form {
        padding:0.2em;
        transform: scale(1.8);
    }

    form.comment-form textarea {
        width: 100%;
    }

    .td-content {
      display: block;
    }

    div.arrow-up {
        position:relative;
        top:-2px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0.2em 0.6em 0.2em;
        border-color: transparent transparent #828282 transparent;
    }

    div.arrow-down {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.6em 0.2em 0 0.2em;
        border-color: #828282 transparent transparent transparent;
    }

}
